


<script>

$('.js-toggle-menu').click(function(e){
  e.preventDefault();
  $(this).toggleClass('open');
  $('.page-wrap').toggleClass('disabled');
  $('body').toggleClass('disabled');
});


$('.search-menu-toggle').click(function(){
	$(this).toggleClass("on");
	$('.search').slideToggle();
		
});

    
var feed = new Instafeed({
  clientId: '467ede5a6b9b48ae8e03f4e2582aeeb3',
      get: 'user',
    userId: '18203412',
/*    sortBy: 'most-liked',*/
    limit: 10,
    resolution: 'standard_resolution',
  after: function () {
    var images = $("#instafeed").find('a');
    $.each(images, function(index, image) {
      var delay = (index * 75) + 'ms';
      $(image).css('-webkit-animation-delay', delay);
      $(image).css('-moz-animation-delay', delay);
      $(image).css('-ms-animation-delay', delay);
      $(image).css('-o-animation-delay', delay);
      $(image).css('animation-delay', delay);
      $(image).addClass('animated flipInX');
    });
  },
  template: '<div class="bit-5"><a href="{{link}}" target="_blank"><img src="{{image}}" /><div class="likes">&hearts; {{likes}}</div></a></div>'
});
feed.run();

</script>

<style>

@media (max-width: 30em) {

  #instafeed .likes {
    display:none;
  }
  #instafeed a:hover .likes {
    display:none;
  }

}

/*.ig {
    width:20%;
    height:20%;
    float:left;
}*/

#instafeed a {
  padding:5px 5px 1px 5px;
  margin:10px;
  display:inline-block;
/*  border:1px solid #e1e1e1;
  border-radius: 4px;*/
  position:relative;
}

#instafeed .likes {

  background:rgba(255,255,255,0.3);
  font-family:'futura';
  font-size:.9em;
  position:absolute;
  color:#000000;
  right:5px;
  top:5px;
  left:5px;
  bottom:5px;
  opacity:0;
  text-align:center;
  line-height:200px;
/*  text-shadow:0 1px rgba(0,0,0,0.5);*/
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
    -moz-transition: opacity 100ms ease;
    -o-transition: opacity 100ms ease;
    -ms-transition: opacity 100ms ease;
    transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}

</style>

    <div class="frame">
    	<div style="background-color:white;">

        <div class="bit-1">
            <div class="box this1" style="background-color:white;" > 
                <div id="instafeed"></div>  
            </div>     
          </div>
          
    </div>
</div>